AITUNNEL_API_KEY=your_aitunnel_api_key
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=electro_ded@inbox.ru
MAIL_PASSWORD=your_inbox_mail_password
PORT=5000
